<h1>Details</h1>

<main class="p-3">
  <table class="table table-hover table-bordered">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Sender</th>
      <th scope="col">Receiver</th>
      <th scope="col">Total Amount</th>
      <th scope="col">Paid Amount</th>
    </tr>
    </thead>
    <tbody *ngFor="let detail of detailList">
    <tr>
      <th scope="row">{{detail.detailId}}</th>
      <td>{{sender}}</td>
      <td>{{receiver}}</td>
      <td>{{totalAmount}}</td>
      <td>{{detail.paidAmount}}
      </td>
    </tr>

    </tbody>
    <tfoot *ngIf="flag">
    <tr class="text-center">
      <td colspan="5">
         No details Exist
      </td>
    </tr>
    </tfoot>
  </table>
</main>
