<h1>Invoices</h1>

<main class="p-3">
    <table class="table table-hover table-bordered">
          <thead>
          <tr>
            <th class="d-flex justify-content-between" scope="col">
              <div class="text-center">ID</div>
              <section class="d-flex gap-2">
                  <div title="short" (click)="getShortDesWithInvoice()">
                    <svg id="down" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                      <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z"/>
                    </svg>
                  </div>
                  <div>
                    <svg (click)="getSortAseWithInvoice()" id="up" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                      <path d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z"/>
                    </svg>
                  </div>
              </section>
            </th>
            <th scope="col">Sender</th>
            <th scope="col">Receiver</th>
            <th scope="col">Total Amount</th>
            <th scope="col">Total Paid Amount</th>
          </tr>
          </thead>
          <tbody *ngFor="let invoice of invoiceList">
          <tr>
            <th scope="row">{{invoice.id}}</th>
            <td>{{invoice.sender}}</td>
            <td>{{invoice.receiver}}</td>
            <td>{{invoice.totalAmount}}</td>
            <td class="d-flex gap-5 justify-content-between">
              <div>
              {{invoice.totalPaidAmount}}
              </div>
              <div title="detail"  id="add-detail" (click)="getDetail(invoice)">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"/>
                  <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                </svg>
              </div>
            </td>
          </tr>
          </tbody>
    </table>
  <section class="d-flex justify-content-end">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li title="previous" class="page-item" (click)="getPrePage()">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
<!--          <ng-container *ngFor="let page of pages">-->
<!--              <li class="page-item"><a class="page-link" href="#">{{page}}</a></li>-->
<!--          </ng-container>-->
          <li title="next" class="page-item" (click)="getNextPage()">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
  </nav>
  </section>
</main>
